<p-menubar [model]="items"></p-menubar>

<div class="ui-g">
    <div class="ui-g-12 ui-md-12">
        <h3> Split Strings and Find occurence</h3>        
    </div>
    <div class="ui-g-12 ui-md-6">
        <textarea pInputTextarea [rows]="10" [cols]="30" [(ngModel)] ="stringa"></textarea>
    </div>
    <div class="ui-g-12 ui-md-6">
        <p-button (onClick)="splitString()" label="Get Results"></p-button>
    </div>
</div>

<div class="ui-g">
    <div class="ui-g-12 ui-md-12">
        <div>Split String: {{finalString}}</div>
        <div>Number of characters(without spaces): {{characterCount - whiteSpace}}</div>
        <div>Number of spaces: {{whiteSpace}}</div>
        <div>Number of words: {{wordCount}}</div>
        <div>Number of sentences: {{sentenceCount}}</div>
        <div>Average number of characters per word: {{avgLen}}</div>
        <div>Average number of syllables per word: {{syllablesCount/wordCount}}</div>
        <div>Average number of words per sentence: {{avgWordPerSentence}}</div>
                
    </div>
</div>
  


